<main class="display__container">
  <div class="order-details">
    <div class="card">
      <div class="card-info">
        <span class="card__heading">Total Orders(This month)</span>
        <span class="card__quantity">{{ totalOrders }}</span>
      </div>
      <div class="card-icon">
        <span class="material-icons"> receipt_long </span>
      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <span class="card__heading">Total Amount </span>
        <span class="card__quantity">₵{{ totalAmount }}</span>
      </div>
      <div class="card-icon">
        <span class="material-icons"> payments </span>
      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <span class="card__heading">Amount To Be Paid</span>
        <span class="card__quantity">₵{{ amountTobePayed }}</span>
      </div>
      <div class="card-icon">
        <span class="material-icons"> payments </span>
      </div>
    </div>
  </div>
  <h1 class="title">Orders</h1>
  <div class="display__container__items">
    <app-single-order
      *ngFor="let item of foodOrdered"
      [item]="item"
      [orderType]="OrderType.pendingOrder"
    ></app-single-order>
  </div>
  <!-- <div
      class="display__container__items__card"
      *ngFor="
        let item of [
          1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20
        ]
      "
    >
      <div class="card__title">
        <ul>
          <li class="order__num">Order #{{ item }}</li>
          <li class="date">22 Feb 2021 08:00 AM</li>
        </ul>
      </div>
      <div class="card__body">
        <ul>
          <li>Name of person</li>
          <li>Food Ordered</li>
          <li>Phone Number</li>
          <li>Location</li>
          <li>Price</li>
          <li>Extra comments if any</li>
        </ul>
      </div>
      <div class="card-btn">
        <div class="cancel">
          <button>
            <span class="material-icons"> close </span>
          </button>
        </div>
        <div class="completed" (click)="onSuccessDelivery()">
          <button>
            <span class="material-icons"> done </span>
          </button>
        </div>
      </div>
    </div>
  </div>-->
  <!-- <ul>
    <li *ngFor="let item of item$ | async">
      {{ item }}
    </li>
  </ul> -->
</main>
