<div class="sidebar__avatar">
  <app-avatar></app-avatar>
  <div class="avatar__info">
    <p class="text">Hello</p>
    <p class="role">Admin</p>
  </div>
</div>
<div class="sidebar__menu">
  <p class="sidebar__menu__heading">Menu</p>
  <ul class="sidebar__menu__list">
    <li
      class="sidebar__menu__list__item"
      routerLink="/admin/orders"
      routerLinkActive="active"
      (click)="onToggleSidebar()"
    >
      <a class="sidebar__menu__list__link">Orders</a>
    </li>
    <li
      class="sidebar__menu__list__item"
      routerLink="/admin/delivered"
      routerLinkActive="active"
      (click)="onToggleSidebar()"
    >
      <a class="sidebar__menu__list__link">Delivered</a>
    </li>
    <li
      class="sidebar__menu__list__item"
      routerLink="/admin/failed"
      routerLinkActive="active"
      *ngIf="showFailed"
      (click)="onToggleSidebar()"
    >
      <a class="sidebar__menu__list__link">Failed</a>
    </li>
    <!-- <li class="sidebar__menu__list__item">
      <a class="sidebar__menu__list__link" href="http://">In progress</a>
    </li> -->
  </ul>
</div>
<div class="sidebar__controls">
  <div class="open-orders" (click)="onOpenOrders()" *ngIf="closeOrder">
    <span class="material-icons"> lock_open </span>
    <p>open orders</p>
  </div>
  <div class="close-orders" (click)="onCloseOrders()" *ngIf="!closeOrder">
    <span class="material-icons"> lock_clock </span>
    <p>close orders</p>
  </div>
</div>
<div class="sidebar__logout" (click)="logOut()">
  <div class="logout">
    <span class="material-icons"> logout </span>
    <p>Logout</p>
  </div>
</div>
