<footer class="footer">
  <div class="address">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <p>Address: North Kaneshie, Oseble Street</p>
  </div>
  <div class="social-icons">
    <div class="icon contact">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <p>0556608314</p>
    </div>
    <a
      href="https://www.instagram.com/foodatlittlewoods/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="icon instagram">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <p>@foodatlittlewoods</p>
      </div>
    </a>
  </div>
</footer>
